.hello{
    color:blue;
}


html {
  background-color: white;
}

.App {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    width:75%;
    text-align: center
  }
  
  .container{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .container2{
    display: block;
    margin-left: 15%;
    margin-right: 15%;
  }
  
  .tablecol{
    width:50%
  }
  
  .inputfields{
    margin-left: 25%;
    margin-right: 25%
  }

  /* .inputboxes{
    margin-top:5px
  } */
  
  .labels{
    padding-left: 20px;
    margin-right: 20px;
    width: 70px;
    display: inline-block;
  }
  .inputboxes{
    /* float: right; */
    text-align:right;
  }
  
  form {
    display: grid;
  }
  
  .headings{
    text-align: center;
    font-size: 50px;
    color:#2C3EDD
  }
  
  .finalpage {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    width: 75%
  }
  
  .button{
    background-color: #2C3EDD;
    color:white;
    display: block;
    border: none;
    padding: 14px 28px;
    font-size: 16px;
    margin-left: 20px;
    margin-right: auto;
    width: 150px
  }

  .inputboxes{
    margin-top:20px
  }

  .backbutton{
    background-color: #333333;
    color:white;
    display: block;
    border: none;
    padding: 14px 28px;
    font-size: 16px;
    margin-left: 20px;
    margin-right: auto;
    width: 150px
  }
  
  .homebutton{
    background-color: #2C3EDD;
    color:white;
    display: block;
    border: none;
    padding: 14px 28px;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto
  }
  
  .buttongroup{
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: right;
    /* //background-color: #222; */
  
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .step-progressbar {
    list-style: none;
    counter-reset: step;
    display: flex;
    padding: 0;
  }
  .step-progressbar__item {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    position: relative;
  }
  .step-progressbar__item:before {
    width: 3em;
    height: 3em;
    content: counter(step);
    counter-increment: step;
    align-self: center;
    background: #969eee;
    color: #fff;
    border-radius: 100%;
    line-height: 3em;
    margin-bottom: 0.5em;
    
  }
  .step-progressbar__item:after {
    height: 2px;
    width: calc(100% - 1em);
    content: '';
    background: #969eee;
    position: absolute;
    top: 1.5em;
    left: calc(50% + 1.5em);
  }
  
  .step-progressbar__item--active:after {
    height: 2px;
    width: calc(100% - 1em);
    content: '';
    background: #969eee;
    position: absolute;
    top: 1.5em;
    left: calc(50% + 1.5em);
  }
  .step-progressbar__item:last-child:after {
    content: none;
  }
  .step-progressbar__item--active:before {
    background: #2C3EDD;
  }
  .step-progressbar__item--complete:before {
    background: #2C3EDD;
  }
  
  .step-progressbar__item--complete:after {
    background: #2C3EDD;
  }
  